<div id="item-list-table" class="container-fluid">
    <div class="row">
        <div class="col-xs-12" style="padding: 20px;"></div>
      </div>
    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <div class="table-responsive">
                <table id='todo-list-items-table' class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td>Total Assets:</td>
                            <td>{{ total_assets }}</td>
                        </tr>
                        <tr>
                            <td>Bitcoin Assets:</td>
                            <td>{{ bitcoin_assets }}</td>
                        </tr>
                        <tr>
                            <td>Total Cost Basis:</td>
                            <td>{{ total_cost_basis }}</td>
                        </tr>
                        <tr>
                            <td>Bitcoin Cost Basis:</td>
                            <td>{{ bitcoin_cost_basis }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="table-responsive">
                <table id='todo-list-items-table' class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td>Total ROI:</td>
                            <td>{{ total_roi }}</td>
                        </tr>
                        <tr>
                            <td>Bitcoin ROI:</td>
                            <td>{{ bitcoin_roi }}</td>
                        </tr>
                        <tr>
                            <td>ETF ROI:</td>
                            <td>{{ etf_roi }}</td>
                        </tr>
                        <tr>
                            <td>MSTR ROI:</td>
                            <td>{{ mstr_roi }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="table-responsive">
                <table id='todo-list-items-table' class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td>Total Profit</td>
                            <td>{{ total_profit }}</td>
                        </tr>
                        <tr>
                            <td>Bitcoin %:</td>
                            <td>{{ bitcoin_perc }}</td>
                        </tr>
                        <tr>
                            <td>ETF %:</td>
                            <td>{{ etf_perc }}</td>
                        </tr>
                        <tr>
                            <td>MSTR %:</td>
                            <td>{{ mstr_perc }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="table-responsive">
                <table id='todo-list-items-table' class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td>Bitcoin Price:</td>
                            <td>{{ bitcoin_price }}</td>
                        </tr>
                        <tr>
                            <td>MSTR Price:</td>
                            <td>{{ mstr_price }}</td>
                        </tr>
                        <tr>
                            <td>IBIT Price:</td>
                            <td>{{ ibit_price }}</td>
                        </tr>
                        <tr>
                            <td>BITB Price:</td>
                            <td>{{ bitb_price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
