{% load static %}

<div id="item-list-table" class="container-fluid">
    <div class="row">
        <div class="col-xs-12" style="padding: 20px;"></div>
      </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="table-responsive">
                <table id='todo-list-items-table' class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th></th>
                            <th>Total</th>
                            <th>Bitcoin</th>
                            <th>ETF</th>
                            <th>Stock</th>
                        </tr>
                        <tr>
                            <th>Current Cost Basis</th>
                            <td>{{ total_current_cost_basis }}</td>
                            <td>{{ bitcoin_current_cost_basis }}</td>
                            <td>{{ etf_current_cost_basis }}</td>
                            <td>{{ stock_current_cost_basis }}</td>
                        </tr>
                        <tr>
                            <th>Current Balance</th>
                            <th>{{ total_current_balance }}</th>
                            <th>{{ bitcoin_current_balance }}</th>
                            <th>{{ etf_current_balance }}</th>
                            <th>{{ stock_current_balance }}</th>
                        </tr>
                        <tr>
                            <th>Unrealized Gains</th>
                            <td>{{ total_unrealized_gains }}</td>
                            <td>{{ bitcoin_unrealized_gains }}</td>
                            <td>{{ etf_unrealized_gains }}</td>
                            <td>{{ stock_unrealized_gains }}</td>
                        </tr>
                        <tr>
                            <th>Realized Gains</th>
                            <td>{{ total_realized_gains }}</td>
                            <td>{{ bitcoin_realized_gains }}</td>
                            <td>{{ etf_realized_gains }}</td>
                            <td>{{ stock_realized_gains }}</td>
                        </tr>
                        <tr>
                            <th>Profit</th>
                            <th>{{ total_profit }}</th>
                            <th>{{ bitcoin_profit }}</th>
                            <th>{{ etf_profit }}</th>
                            <th>{{ stock_profit }}</th>
                        </tr>
                        <!-- <tr>
                            <th>ROI</th>
                            <td>{{ total_roi }}</td>
                            <td>{{ bitcoin_roi }}</td>
                            <td>{{ etf_roi }}</td>
                            <td>{{ stock_roi }}</td>
                        </tr> -->
                        <tr>
                            <th>Current Allocation</th>
                            <td></td>
                            <td>{{ bitcoin_current_allocation }}</td>
                            <td>{{ etf_current_allocation }}</td>
                            <td>{{ stock_current_allocation }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-lg-3">
            <div class="table-responsive">
                <table id='todo-list-items-table' class="table table-striped table-hover table-bordered">
                    <tbody>
                        {% for name, price in prices.items %} 
                        <tr>
                            <th>{{ name }}</th>
                            <td>{{ price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-lg-3">
            <div class="table-responsive">
                <table id='todo-list-items-table' class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th>Total Bitcoin</th>
                            <td>{{ total_bitcoin }}</td>
                        </tr>
                        <tr>
                            <th>Total Bitcoin (+ ETF)</th>
                            <td>{{ total_bitcoin_etf }}</td>
                        </tr>
                        <tr>
                            <th>Bitcoin Price Basis</th>
                            <td>{{ bitcoin_cost_basis }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
