{% load static %}

<div id="item-list-table" class="container-fluid">
    <div class="row">
        <div class="col-xs-12" style="padding: 20px;"></div>
      </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="table-responsive">
                <table id='todo-list-items-table' class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th></th>
                            {% for category in categories %} 
                            <th>{{ category }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Current Cost Basis</th>
                            {% for current_cost_basis in current_cost_bases %} 
                            <td>{{ current_cost_basis }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Current Balance</td>
                            {% for current_balance in current_balances %} 
                            <th>{{ current_balance }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Unrealized Gains</th>
                            {% for unrealized_gain in unrealized_gains %} 
                            <td>{{ unrealized_gain }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Realized Gains</th>
                            {% for realized_gain in realized_gains %} 
                            <td>{{ realized_gain }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Profit</th>
                            {% for profit in profits %} 
                            <th>{{ profit }}</th>
                            {% endfor %}
                        </tr>
                        <!-- <tr>
                            <th>ROI</th>
                            {% for roi in rois %} 
                            <td>{{ roi }}</td>
                            {% endfor %}
                        </tr> -->
                        <tr>
                            <th>Current Allocation</th>
                            {% for allocation in allocations %} 
                            <td>{{ allocation }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-lg-3">
            <div class="table-responsive">
                <table id='todo-list-items-table' class="table table-striped table-hover table-bordered">
                    <tbody>
                        {% for name, price in prices.items %} 
                        <tr>
                            <th>{{ name }}</th>
                            <td>{{ price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-lg-3">
            <div class="table-responsive">
                <table id='todo-list-items-table' class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th>Total Bitcoin</th>
                            <td>{{ total_bitcoin }}</td>
                        </tr>
                        <tr>
                            <th>Total Bitcoin (+ ETF)</th>
                            <td>{{ total_bitcoin_etf }}</td>
                        </tr>
                        <tr>
                            <th>Bitcoin Price Basis</th>
                            <td>{{ bitcoin_cost_basis }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
